.App {
  text-align: center;
}

body {
  background: rgb(74, 74, 79);
  
}

.inputLabel {
  color: #fff !important;
}

/* shrink logo and title for mobile  */

@media screen and (max-width: 600px) {
  .ggLogo {
    transform: scale(12);
  }
  Nav {
    font-size: 0.5em;
  }
}

/* footer  */
.footer {
  float: right;
  margin-top: 60vh;
  padding: 0vh 1vh 1vh;
}
